body {
    background-color: rgba(47, 0, 255, 0.562);
}

html {
    font-size: 1vw;
    font-family: 'Among Us', 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
}

#buttons, button {
    display: flex;
    flex-flow: column nowrap;
    background-color: transparent;
    border: none;
    justify-content: space-between;
    align-items: center;
}

h1 {
    max-width: 100%;
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
}

h3, p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titleBar {
    font-size: 3vw;
    font-style: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

#rockimg, #paperimg, #scissorimg {
    display: flex;
    max-width: 40%;
    height: auto;
    background-size: contain;
}

#botimg, #playerimg {
    display: flex;
    max-width: 30%;
    height: auto;
    background-size: contain;
}

#computerScore {
    order: 3;
}